.f-sans-serif{
    font-family: sans-serif;
}
.f-mono{
    font-family: monospace;
}
.f-arial{
    font-family: Arial;
}
.f-arialn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}